/* Grid.css */
.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .counter {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-family: "Times New Roman", Gadget, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
    gap: 2px;
    border-collapse: collapse;
  }